* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(34, 34, 39);
  font-family: 'Inter', sans-serif;
  color: white;
}

.header {
  width: 100vw;
  height: 75px;
  background-color: rgba(46, 118, 211, 0.618);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-title {
  font-size: 2.5rem;
  margin-left: 24px;
}

.header-button {
  margin: 64px;
  width: 10rem;
  height: 2.5rem;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: rgb(135, 135, 208);
  box-shadow: 0 2px 10px rgb(34, 34, 39);
  cursor: pointer;
}

.todo {
  width: 95vw;
  max-height: 120px;
  margin: 24px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(46, 118, 211, 0.618);
  border: none;
  border-radius: 10px;
}

.todo-title {
  margin: 0 48px;
}

.todo-clickable {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 48px;
  gap: 48px;
}

.todo-buttons {
  display: flex;
  gap: 12px;
}

.todo-edit-button, .todo-delete-button, .close-modal, .submit-modal {
  width: 5rem;
  height: 2rem;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: rgb(135, 135, 208);
  box-shadow: 0 2px 10px rgb(34, 34, 39);
  cursor: pointer;
}

.modal, .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.active-modal {
  overflow: hidden;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
  background-color: rgb(135, 135, 208);
  width: 40vw;
  height: 70vh;
  border: none;
  border-radius: 10px;
  padding: 48px;
}

.modal-title, .modal-description, .modal-completed {
  display: flex;
  flex-direction: column;
}

.close-modal-wrapper {
  display: flex;
  align-self: flex-end;
}

.close-modal {
  background-color: rgb(47, 47, 61);
}

.submit-modal-wrapper {
  align-self: center;
}

.submit-modal {
  background-color: rgb(47, 47, 61);
}

.modal-title, .modal-description {
  width: 100%;
}